<div style="    background: red;color: wheat;padding: 10px 20px;font-family: cursive;">ERROR</div>
<div style="border: 1px solid gray;padding: 10px 20px;background: lightgrey;font-family: cursive;">
	<h1><%= message%></h1>
	<h2><%= error.status%></h2>
	<pre><%= error.stack%></pre>
</div>