<!DOCTYPE html>
<html ng-app="dms">
<head>
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script type="text/javascript" src="/javascripts/angula.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/angular-animate.min.js"></script>
	<title>AMD Device Manager</title>
</head>
<body ng-controller="MainController">
	<div class="container">
		<div class="panel panel-default">
		  <div class="panel-heading">AMD Device Manager</div>
		  <table class="table">
		  </table>
		</div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/dms/main.js"></script>
</html>