<!DOCTYPE html>
<html ng-app="dms">
<head>
	<title>Register to AMD DMS System</title>
	<link rel="stylesheet" type="text/css" href="/css/dms/login.css">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script type="text/javascript" src="/javascripts/angula.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/angular-animate.min.js"></script>
</head>
<body ng-controller="LoginController">

	<div class="registerForm">
		<div class="login-title">Register To The System</div>
		<div class="register-messages">{{registerMessage}}</div>
		<div class="input-email">
			<input type="text" class="form-control register-email" ng-model="email" placeholder="Email">
		</div>
		<br>
		<button class="btn btn-default" ng-click="getPingCode($event)">{{loginButtonText}}</button>
		<br>
		<br>
		<input class="form-control" ng-model="validationCode" ng-init="validationCode=''" type="text" maxlength="6" placeholder="Ping Code">
		<br>
		<button class="btn btn-default" ng-click="validateCode()">Validate</button>
		<br>
		<br>
		<div ng-hide="validationCodeOK">
			<input class="form-control" type="password" minlength="7" maxlength="16" placeholder="Password">
			<br>
			<input class="form-control" type="password" minlength="7" maxlength="16" placeholder="Confirm Password">
			<br>
			<button class="btn btn-default">Submit</button>
		</div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/dms/login.js"></script>
</html>