<!DOCTYPE html>
<html ng-app="dms">
<head>
	<title>Register to AMD DMS System</title>
	<link rel="stylesheet" type="text/css" href="/css/dms/login.css">
	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script type="text/javascript" src="/javascripts/angula.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</head>
<body ng-controller="LoginController">

	<div class="registerForm">
		<div class="login-title">Register To The System</div>
		<input type="text" class="form-control register-email" placeholder="Email">
		<br>
		<button class="btn btn-default" ng-click="getPingCode($event)">{{loginButtonText}}</button>
		<br>
		<br>
		<input class="form-control" type="text" maxlength="6" placeholder="Ping Code">
		<br>
		<button class="btn btn-default">Validate</button>
		<button class="btn btn-default">Register</button>
	</div>
</body>
<script type="text/javascript" src="/javascripts/dms/login.js"></script>
</html>